{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Tumbs.app{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% trans 'Portfolio website generator' %}" />
    <meta name="author" content="Ondřej Nejedlý" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% block css %}
    {% render_bundle 'project' 'css' %}
    {% endblock css %}
  
    {% block javascript %}
    {% render_bundle 'vendors' 'js' attrs='defer' %}
    {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock javascript %}
</head>
<body>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close">
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>

  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
    {% comment %}
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
</body>
</html>
