{% extends "_base.html" %}
{% load i18n %}

{% block body %}
  <nav class="navbar bg-primary navbar-dark navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">Tumbs.app</a>
      <ul class="navbar-nav">
        {% if customer %}

          <li class="nav-item">
            <a class="nav-link {% block websites_active %}{% endblock websites_active %}"
               href="{% url "websites:websites_cms" %}">{% trans "My Site" %}</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" id="customerDropdownButton"
               data-bs-toggle="dropdown" aria-label="{% trans 'Customer' %}" aria-expanded="false">
              <i class="bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="customerDropdownButton">
              <li><h6 class="dropdown-header">{{ customer.email }}</h6></li>
              <li><a class="dropdown-item" href="{% url "accounts:sign_out" %}">{% trans "Sign out" %}</a></li>
            </ul>
          </li>
          
        {% else %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:sign_up" %}">{% trans "Sign up" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url "accounts:sign_in" %}">{% trans "Sign in" %}</a>
          </li>
          
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    {% if messages %}
      <div class="alerts">
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>

  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
    {% comment %}
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
{% endblock body %}
