@import "~bootstrap/scss/variables";

.collapse-control {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  margin-bottom: 1rem;
  color: $gray-600;
  white-space: nowrap;
  text-decoration: none;

  hr {
    width: 100%;
  }
}
