{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'cms' 'js' attrs='defer' %}
{% endblock javascript %}

{% block websites_active %}active disabled{% endblock websites_active %}

{% block content %}
  <div id="cms" data-init='{{ js_init }}'>
    <div class="d-flex justify-content-center align-items-end my-4">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
{% endblock content %}
