$dim-grey: #ADB5BD;
$brand-colour: #22133d;

$primary: $brand-colour;
$input-placeholder-color: $dim-grey;

$font-family-base: "Lato", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans";
