@import 'bs';

.form-control::placeholder {
  color: $gray-500;
}

.fancy-gradient {
  background: $primary;
  background: linear-gradient(157deg, rgba(34,19,61,1) 0%, rgba(32,40,96,1) 35%, rgba(29,66,119,1) 100%);
}

.alerts {
  position: fixed;
  bottom: 0;
}

.button-icon {
  background: $body-bg;
  border-color: $body-bg;

  &:hover {
    background: $light;
    border-color: $light-border-subtle;
  }

  &:active {
    border-color: $dark-border-subtle;
  }
}

.website-top-bar {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  .h3 {
    margin: 0;
  }

  .button-settings {
    margin-left: auto;
  }
}

.inline-editable {
  display: flex;
  align-items: center;
  position: relative;

  &-input {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: .2rem;
    outline: none;
  }

  .edit-icon {
    position: absolute;
    right: -1rem;
    top: -0.4rem;

    &::before {
      font-size: .8rem;
    }
  }
}

.collapse-control {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  white-space: nowrap;
  color: $gray-600;
  text-decoration: none;
  margin-bottom: 1rem;

  hr {
    width: 100%;
  }
}
